<!doctype html>

<html>
<head>
    <base href="{{baseUrl}}"/>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>T-Challenge</title>

    <link rel="icon" type="image/png" href="static/images/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="static/styles/common.css"/>
    <link rel="stylesheet" href="static/styles/logon-view.css"/>
</head>
<body>

<url-resolver-configurator url="{{clientUrl}}" service-kernel-url="{{serviceKernelUrl}}"></url-resolver-configurator>
<ui-view></ui-view>

<!-- VENDOR -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0-beta.3/angular-ui-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>

<!-- UTILITY -->
<script src="static/components/utility/utility.module.js"></script>
<script src="static/components/utility/url-resolver.service.js"></script>
<script src="static/components/utility/url-resolver-configurator.component.js"></script>
<script src="static/components/utility/url-resolver-configurator.controller.js"></script>
<script src="static/components/utility/home-state-context.service.js"></script>
<script src="static/components/utility/logger.service.js"></script>
<script src="static/components/utility/logger-configurator.component.js"></script>
<script src="static/components/utility/logger-configurator.controller.js"></script>

<!-- SECURITY -->
<script src="static/components/security/security.module.js"></script>
<script src="static/components/security/security.config.js"></script>
<script src="static/components/security/authentication-interceptor.factory.js"></script>
<script src="static/components/security/authentication.service.js"></script>
<script src="static/components/security/authentication-context.service.js"></script>
<script src="static/components/security/authorization.service.js"></script>
<script src="static/components/security/security-token-header.constant.js"></script>

<!-- MISCELLANEOUS -->
<script src="static/components/miscellaneous/miscellaneous.module.js"></script>
<script src="static/components/miscellaneous/authorized-view.component.js"></script>
<script src="static/components/miscellaneous/authorized-view.controller.js"></script>
<script src="static/components/miscellaneous/logon-view.component.js"></script>
<script src="static/components/miscellaneous/logon-view.controller.js"></script>
<script src="static/components/miscellaneous/lost-view.component.js"></script>
<script src="static/components/miscellaneous/lost-view.controller.js"></script>
<script src="static/components/miscellaneous/root-view.component.js"></script>
<script src="static/components/miscellaneous/root-view.controller.js"></script>

<!-- MENU -->
<script src="static/components/menu/menu.module.js"></script>
<script src="static/components/menu/menu.component.js"></script>
<script src="static/components/menu/menu.controller.js"></script>
<script src="static/components/menu/menu-configurator.service.js"></script>

<!-- STATISTIC -->
<script src="static/components/statistic/statistic.module.js"></script>
<script src="static/components/statistic/statistic-section-view.component.js"></script>
<script src="static/components/statistic/statistic-section-view.controller.js"></script>

<!-- CANDIDATE -->
<script src="static/components/candidate/candidate.module.js"></script>
<script src="static/components/candidate/candidate-section-view.component.js"></script>
<script src="static/components/candidate/candidate-section-view.controller.js"></script>
<script src="static/components/candidate/candidate-list-view.component.js"></script>
<script src="static/components/candidate/candidate-list-view.controller.js"></script>

<!-- EVENT -->
<script src="static/components/event/event.module.js"></script>
<script src="static/components/event/event.service.js"></script>
<script src="static/components/event/event-section-view.component.js"></script>
<script src="static/components/event/event-section-view.controller.js"></script>
<script src="static/components/event/event-list-item.component.js"></script>
<script src="static/components/event/event-list-item.controller.js"></script>
<script src="static/components/event/event-list-view.component.js"></script>
<script src="static/components/event/event-list-view.controller.js"></script>

<!-- TASK -->
<script src="static/components/task/task.module.js"></script>
<script src="static/components/task/task.service.js"></script>
<script src="static/components/task/task-detailed-view.component.js"></script>
<script src="static/components/task/task-detailed-view.controller.js"></script>
<script src="static/components/task/task-form.component.js"></script>
<script src="static/components/task/task-form.controller.js"></script>
<script src="static/components/task/task-list-item.component.js"></script>
<script src="static/components/task/task-list-item.controller.js"></script>
<script src="static/components/task/task-list-view.component.js"></script>
<script src="static/components/task/task-list-view.controller.js"></script>
<script src="static/components/task/task-new-view.component.js"></script>
<script src="static/components/task/task-new-view.controller.js"></script>
<script src="static/components/task/task-section-view.component.js"></script>
<script src="static/components/task/task-section-view.controller.js"></script>

<!-- WORKBOOKS -->
<script src="static/components/workbook/workbook.module.js"></script>
<script src="static/components/workbook/workbook-section-view.component.js"></script>
<script src="static/components/workbook/workbook-section-view.controller.js"></script>
<script src="static/components/workbook/workbook-list-view.component.js"></script>
<script src="static/components/workbook/workbook-list-view.controller.js"></script>

<!-- ACCOUNT -->
<script src="static/components/account/account.module.js"></script>
<script src="static/components/account/account-section-view.component.js"></script>
<script src="static/components/account/account-section-view.controller.js"></script>
<script src="static/components/account/account-list-view.component.js"></script>
<script src="static/components/account/account-list-view.controller.js"></script>

<!-- PROFILE -->
<script src="static/components/profile/profile.module.js"></script>
<script src="static/components/profile/profile-section-view.component.js"></script>
<script src="static/components/profile/profile-section-view.controller.js"></script>

<!-- APPLICATION -->
<script src="static/components/application.module.js"></script>
<script src="static/components/application.config.js"></script>
<script src="static/components/application.routes.js"></script>

<!-- MAIN -->
<script src="static/main.js"></script>
</body>
</html>
